body { 
    margin: 0; 
    background: black;
}
#container { width: 100%; height: 100% }
canvas {display: block}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

#crosshairdiv {
    display: none;
    position: absolute; 
    top:50%; 
    left:50%;
    margin: -10px 0 0 -4.5px;
} 

.transpGUI {
    opacity: 0.8;
}
.progressBar{
    background: white;
    box-shadow: 2px 2px 0px rgb(31, 31, 31);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.progressBarBG {
    background: rgba(196, 196, 196, 0.1);
    
}
/* Time Speed Styles */
#timespeedcontainerdiv {
    display: none;
    position: absolute;
    left: 5px;
    bottom: 24%;
    height: 60%;
    width: 5px;
}

/* Weapon Indicators Styles */
#weaponui {
    display: none;
}
.weapon {
    position: absolute;
    bottom: 5px;
    height: 60px;
    background: red;

    left: calc(50% - 105px);
    /* Firefox */
    left: -moz-calc(50% - 105px);
    /* WebKit */
    left: -webkit-calc(50% - 105px);
    /* Opera */
    left: -o-calc(50% - 105px);
    /* Standard */
    left: calc(50% - 105px);
}
#weaponicon {
    position: absolute;
    left: 0px;
    width: 100px;
    height: 60px;
}
#reload {
    position: absolute;
    left: 100px;
    width: 5px;
    height: 100%;
    
}
#maxAmmo {
    position: absolute;
    left: 110px;
    bottom: 0px;
    font-size: 10px;
}
#currentAmmo {
    position: absolute;
    left: 110px;
    top: 0px;
    font-size: 30px;
}
.ammo {
    font-family: 'Arima Madurai', cursive;
    text-shadow: 2px 2px 0px rgb(31, 31, 31);
    color: white;
}


#loading {
    width: 200px;
    height: 20px;
    margin: -10px 0 0 -100px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(87, 87, 87);
    position: absolute;
    top: 50%;
    left: 50%;
}
#loadingBar {
    width: 200px;
    height: 20px;
    background: red;
    border: none;
    position: absolute;
    left: 0;
}


#blocker {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}